body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
}

h3 {
  margin-left: 30px;
}

.top-container {
  float: right;
  /* padding-right: 250px; */
  /* position: absolute; */
  /* right:100px; */
  /* width: 30%; */
  padding-top: 5px;
}

a {
  margin: 20px;
}

.PARAGRAPH {
  line-height: 2;
  margin-left: 30px;
}

h5 {
  font-size: 1.25rem;
  LINE-HEIGHT: 2;
}

/*  SECTION-1  */
#sec-1 {
  margin-top: 100px;
}

.logo {
  margin-left: 80px;
  margin-top: 50px;
  width: 20%
}

.img-1 {
  width: 50%;
  height: 400px;
  margin-left: 100px;
}

.mail {
  margin-left: 30px;
}

/* SECTION-2  */
#sec-2 {
  margin-top: 200px;
  background: url(bg-curve-desktop.svg)
}

.img-2 {
  /* width: 50%; */
  height: 400px;
  margin-left: 100px;
  margin-top: 50px;
}

.quotes {
  margin-left: 30px;
}

.para-fylo {
  width: 400px;
  margin-left: 10px;
}

.box {
  box-shadow: 1px 1px 5px 1px;
  width: 50%;
  margin-left: 30px;
}

/* SECTION-3  */
#sec-3 {
  margin-top: 100px;
  background-color: #6b778d;
  height: 300px;
}

.deschead {
  color: white;
  line-height: 2;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

.desc {
  color: white;
  line-height: 2;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}

.email {
  margin-left: 100px;
  margin-top: 80px;
  width: 50%;
}

.butn_GET1 {
  margin-left: 100px;
  margin-top: 20px;
}

.avatar {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.box {
  margin-top: 20px;
}

.kyle {
  margin-left: 130px;
  bottom: 10px;
  position: absolute;
}

.butn_fylo {
  margin-left: 30px;
}

.founder {
  font-size: 10px;
  margin-left: 5px;
}

/* / SECTION-4 / */
#sec-4 {
  background-color: #010059;
  /* height: 400px; */
  color: white;
  /* width: 100%; */
}

.images {
  margin-top: 100px;
}

.list {
  color: white;
}

.logo2 {
  margin: 20px 0 15px 15px;
}

.contact {
  margin-top: 50px;
}

/* / button2 / */
.button2 {
  background-color: #007bff;
  width: 200px;
  height: 30px;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  position: absolute;
  right: 460px;
}

.Started {
  margin-top: 20PX;
  margin-left: 100PX;
}

/* button1 */
.button1 {
  background-color: #007bff;
  width: 200px;
  height: 30px;
  color: white;
  margin-top: 0px;
  font-size: 15px;
  position: absolute;
  right: 370px;
}

.Started {
  margin-top: 20PX;
  margin-left: 100PX;
}
